#hero {
    /* height: 100vh; */
    #hero_left, #hero_right {
        /* border: 5px solid orange; */
        height: 100vh;
    }


    #hero_left {
        background-color: #F9F6F0;
        #h_l_row {
            #h_l_col_1 {
                border-radius: 5px;
                #beauty_img {
                    box-shadow: 5px 5px 10px lightgray;
                    border-radius: 5px;
                }
            }
        }
    }
    #hero_right {
        background-color: #E8D5B2;
        padding-top: 50px;
        #h_l_title, #h_r_title {
            /* height: 70%; */
            color: #3a5e3d;
            font-size: 60px;
            font-family: "Poppins", sans-serif;
            font-weight: 400;
            font-style: normal;
            text-shadow: 2px 2px 3px darkgray;
            padding-right: 30px;
            /* div {
                padding-right: 50px;
            } */
        }

        #h_r_row_top {
            #h_r_col_1 {
                background-color: white;
                border-radius: 5px;
            }
            #h_r_col_2 {

            }
        }

    }
}
/* 
.row {
    border: 2px solid green
}

.col {
    border: 5px solid red;
} */